 <section class="ustBoslukAz text-center">
            <div class="container">
                <div class="mb-5">
                    <h2>BURS</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="bursKarti">
                            <h3 class="text-start">Lisans
                                <span class="badge badge-kucuk rounded-pill bg-warning text-dark float-end">
                                    1000TL
                                </span>
                            </h3>
                            <br>
                            <p class="text-muted">Lisans, düzeyinde okuyan&nbsp; öğrencilere burs sağlanacaktır. Başvurmak isteyenler aşağıdaki dökümandan faydalanabilirler.</p>
                            <a class="btn btn-outline-primary btn-sm" role="button" href="./assets/Dosyalar/başvuru belgesi.docx">Döküman</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="bursKarti">
                            <h3 class="text-start">Yüksek Lisans
                                <span class="badge badge-kucuk rounded-pill bg-warning text-dark float-end">
                                    1500TL
                                </span>
                            </h3>
                            <br>
                            <p class="text-muted">Yükseklisans, düzeyinde okuyan&nbsp; öğrencilere burs sağlanacaktır. Başvurmak isteyenler aşağıdaki dökümandan faydalanabilirler.</p>
                            <a class="btn btn-outline-primary btn-sm" role="button" href="./assets/Dosyalar/başvuru belgesi.docx">Döküman</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="bursKarti">
                            <h3 class="text-start">Lise
                                <span class="badge badge-kucuk rounded-pill bg-warning text-dark float-end">
                                    500TL
                                </span>
                            </h3>
                            <br>
                            <p class="text-muted">Lise, düzeyinde okuyan öğrencilere burs sağlanacaktır. Başvurmak isteyenler aşağıdaki dökümandan faydalanabilirler.</p>
                            <a class="btn btn-outline-primary btn-sm" role="button" href="./assets/Dosyalar/başvuru belgesi.docx">Döküman</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>