<section class="ustBosluk m-5 text-center">
            <div class="container">
                
                <div class="row" >
                    <div class="col"></div>
                    <div class="col-6"> <img width="500" src="./assets/img/5f723d507af50732b4b9d379.png" alt=""></div>
                    <div class="col"></div>
                 </div>

                 <div class="row mt-3" >
                    <div class="col"></div>
                    <div class="col-6"> 
                        <h2>Haber Başlığı</h2>
                    </div>
                    <div class="col"></div>
                 </div>
             
                 <div class="row" >
                    <div class="col"></div>
                    <div class="col-6"> 
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, corrupti ea eligendi et esse quibusdam tempore voluptates! Eveniet architecto repudiandae commodi cupiditate corporis, vel magni sed explicabo quam nesciunt numquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos facere cum vitae dolor provident in voluptate non cumque quaerat, tempore hic obcaecati laborum, ipsam quibusdam earum enim perferendis temporibus placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, sed ea. Vitae quaerat, delectus, velit sit facere ratione inventore incidunt quam autem natus assumenda eligendi est eum impedit consequuntur accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt possimus accusantium inventore rem molestias assumenda saepe fuga placeat, provident quae aperiam. Vel numquam ad mollitia laboriosam veniam optio tenetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quo ullam distinctio labore voluptate, molestiae tempore similique veniam voluptatibus illo reprehenderit, iusto consectetur. Dolorem voluptatem nihil consectetur illum repellat sint.</p>
                    </div>
                    <div class="col"></div>
                 </div>
            </div>
        </section>