
   
        <section class="ustBoslukAz text-center">
            <div class="container">
                <div class="mb-5">
                    <h2>KANDIRA</h2>
                    
                </div>
               
                <div class="row">
                     {{#each kandiraposts}}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{{kandirapost_image}}"  alt="Card Image"></a>
                            <div class=" renkdegistir card-body ">
                                <h2 class = "baslıkbuyut ">{{title}}</h2>
                                <p class=" card-text">{{content}}<br></p>
                            </div>
                        </div>
                    </div>
                     
                   {{!--  <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/seyrek.jpg" alt="Card Image"></a>
                            <div class=" renkdegistir card-body">
                                <h2 class = "baslıkbuyut ">Seyrek Kalesi</h2>
                                <p class=" card-text">Kandıra’nın Kerpe Kasabası’nda yer alan&nbsp;<strong>Seyrek Kalesi,</strong>&nbsp;antik liman kalesidir. İki koya da hakimiyet kurulması için inşa edilen kalenin Bizans Dönemi’nde yapıldığı düşünülmektedir. Eski zamanlardan günümüze kadar iskele olarak kullanılmaktadır.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/sarısu.jpg" alt="Card Image"></a>
                            <div class="renkdegistir card-body">
                                <h2 class = "baslıkbuyut ">Sarısu</h2>
                                <p class=" card-text"><strong>Sarısu Beldesi</strong>, Kandıra’nın merkezine ortalama 8 km uzaklıktadır. 1 km uzunluğunda Karadeniz’e bakan sahili ile tabiat güzelliklerine ev sahipliği yapmaktadır. Beldenin içinden geçen Sarısu Deresi, beldeye ismini vermiştir.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/keten.jpg" alt="Card Image"></a>
                            <div class="renkdegistir card-body">
                                <h2 class = "baslıkbuyut ">Keten Helva</h1>
                                <p class=" card-text">Pişmaniyenin atası kabul edilen&nbsp;<strong>keten helva</strong>, Kandıra yöresine özgü bir tatlıdır. Kış mevsiminde yapılan tatlının kar üzerinde dinlendirilmeye bırakması gerektiğinden kış tatlısı amacıyla hafızalarda yer etmiştir. Helvanın yapılış biçimi pişmaniyeninkiyle benzerlik göstermektedir.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/pide.jpg" alt="Card Image"></a>
                            <div class="renkdegistir card-body">
                                <h2 class = "baslıkbuyut ">Kandıra Mancarlı Pide</h2>
                                <p class=" card-text">Kandıra’nın yöresel yemeklerinden birisi&nbsp;<strong>Mancarlı Pide</strong>, günümüzde de yöre halkı tarafından yapılmaktadır. İçerisinde ıspanak, taze soğan ve yeşilliklerin konulduğu pide yediden yetmişe herkesin severek tükettiği bir lezzettir.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/kacamak.jpg" alt="Card Image"></a>
                            <div class="renkdegistir card-body">
                                <h2 class = "baslıkbuyut ">Kaçamak Yemeği</h2>
                                <p class=" card-text">Kandıra yöresinde unutulmaya yüz tutmuş lezzetlerden biri&nbsp;<strong>Kaçamak</strong>’tır. Yöresel tadın ana ögesi mısır unudur. Önceleri beyaz undan yapılan yemekte Karadeniz Bölgesi’nden göç eden topluluklardan sonra mısır unu kullanılmaya başlamıştır.<br></p>
                            </div>
                        </div>
                    </div> --}}
                    {{/each}} 
                </div>
                 
            </div>
        </section>
   
   