 <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Gebze Kandıralılar Derneği</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/test.css">
</head>

<body>
    