 <footer class="bg-primary">
        <div class="container">
            <div class="links"><a href="/">Ana Sayfa</a><a href="/Kandira">Kandıra</a><a href="/burs">Burs</a><a href="/#faaliyetler">Faaliyetler</a><a href="/yonetim">Yönetim</a><a href="/dilek">Dilek &amp; Görüş</a></div>
            <p style="text-align: center;color: var(--bs-body-bg);margin-top: 15px;">© 1998 Gebze Kandıralılar Derneği. Tüm hakları Gebze Kandıralılar Derneğine aittir.</p>
            <div class="social-icons"><a href="https://www.facebook.com/gebzekandiralilar/events/?ref=page_internal"><i class="icon ion-social-facebook"></i></a> <a href="https://www.instagram.com/instakandira/"><i class="icon ion-social-instagram-outline"></i></a><a href="https://twitter.com/KandiraBelediye"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>