


 <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary" ;>
        <div class="container-sm">
            <a class="navbar-brand logo" href="/" ;>  <!--https://startbootstrap.com/snippets/navbar-logo/-->
                <img src="/assets/img/kandıra%20logo.png" ;>
                Gebze Kandıralılar Derneği
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Ana Sayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Kandira">Kandıra</a></li>
                    <li class="nav-item"><a class="nav-link" href="/burs">Burs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/yonetim">Yönetim</a></li>
                   
                    <li class="nav-item"><a class="nav-link" href="/dilek">Dilek &amp; Görüş</a></li>
                     
                      {{!-- <li class="nav-item"><a class="nav-link" href="/Kayit">Kayıt Ol</a></li> --}}
                      {{#if admintrue}}
                       <li class="nav-item"><a class="nav-link" href="/post/new">Add Post</a></li>
                       <li class="nav-item"><a class="nav-link" href="/cikis">Çıkış</a></li>
                        <li class="nav-item"> Hoşgeldiniz :{{admin.title}}</li>


              
                {{else}}
                <li class="nav-item"><a class="nav-link" href="/login">Giriş</a></li>
                {{/if}}
                </ul>
            </div>
        </div>
    </nav>